body {
    
}

.header {
    width: 600px;
    margin: 0 auto;
    background-color: powderblue;
    display: flex;
    justify-content: space-between;

    &__title {
        display: inline-grid;
        align-items: center;
    }

    &__navbar {

    }
}

.nav li {
    display: inline;
    margin: 0 10px 0 10px;
}

.nav li:hover {
    cursor:pointer;
}

.focus {
    text-decoration: underline;
}

.hide {
    display: none;
}

.content {
    width: 600px;
    margin: 20px auto;
    display: block;
    background-color: royalblue;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;

    &__home {
        
    }

    &__home__name {
        height: 100px;
    }

    &__home__description {
        background-color: white;
        height: 150px;
    }
}