body {
    
}

.header {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__title {
        display: inline-grid;
        align-items: center;
    }

    &__navbar {

    }
}

.nav li {
    display: inline;
    margin: 0 10px 0 10px;
    //color: rgb(100,100,100);
}

.nav li:hover {
    cursor:pointer;
}

.focus {
    text-decoration: underline;
    //color: rgb(0,0,0);
    font-weight:bold;
}

.hide {
    display: none;
}

.content {
    width: 600px;
    margin: 20px auto;
    display: block;
    background-color: royalblue;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;

    &__home {
    }

    &__home__name {
        height: 100px;
        &__photo {
            width: 90px;
        }
    }

    &__home__description {
        background-color: white;
        height: 150px;
        display: flex;
        justify-content: space-around;
    }

    &__home__about {
        padding: 20px 15px 0px 15px;
        width: 40%;
        font-size: 0.8rem;
    }

    &__home__info {
        padding: 5px 15px 5px 15px;
        width: 40%;
        font-size: 0.8rem;
    }
}