.container {
    margin:auto; // for align center
    background: white url("../images/bg.jpg") no-repeat top;
    width: 70%;
    border-style: solid;
    border-radius:10px;
    border-width: 0.5px;
    border-color: grey;

    &__current {
        height: 200px;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        &__left {
            width:50%;
            padding-top: 50px;
    
            &__down {
                padding-top: 20px;
                display:flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        

        &__right {
            width:50%;
            text-align: center;
            padding-top: 50px;
            font-size: 1.5rem;
        }
    }

    &__others {
        height:250px;
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        display:flex;
        flex-direction: row;

        &__left {
            width: 33%;
        }

        &__right {
            width: 67%;
        }
    }
}

.temprature {
    margin: 0;
    text-align: center;

    &__line1 {
        font-size: 2rem;
    }

    &__line2 {
        font-size: 0.8rem;
    }
}

.detail {
    margin: 0;
    text-align: center;

    font-size: 0.8rem;
}